/* .rabin_karp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.rabin_karp_content {
  display: flex;
  flex-direction: column;
  width: 90vw;
  background-color: beige;
}
.rabin_karp_input {
  flex: none;
}
.rb_label
{

} */

.divider-left {
  width: 44%;
  border-width: 4px;
  border-bottom-left-radius: 40%;
  border-top-left-radius: 40%;
  float: left;
}
.divider-right {
  width: 44%;
  float: right;
  border-width: 4px;
  border-bottom-right-radius: 40%;
  border-top-right-radius: 40%;
}
